body{
    background-color: black;
    overflow: hidden;
}
.form-control{
    width: 20%;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 1rem;
}
.btn{
    margin-left: 9px;
    font-size: 1rem;
}

h1{
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 4.5rem;
    color: #6AD4DD;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    border: 2px solid #5f9bfc;
    width: 80vh;
    transition: 2s ease-in;
}
div{
    color: #7AA2E3;
}
.T{
    color: #97E7E1;
}
.D{
    color: #7AA2E3;
}
.content{
    margin: auto;
    width: 25%;
    margin-top: 5px;
    font-size: 1rem;
    text-decoration: underline;
}
.delete{
    border: 2px solid black;
    justify-content: center;
    margin-left: 20px;
    height: 2rem;
    padding-top: 0px;
    padding-bottom: 0px;
}
.done{
    display: inline-block;
}
.name{
    background-color: #6AD4DD;
    width: 11rem;
    position: relative;
    top:12rem;
    align-content: center;
    margin: auto;
    height: 4rem;
    border: 1px solid black;
    border-radius: 20px 0px 20px 0px;
    font-size: 2rem;
    color: white;
    z-index: 3;

}
.game_screen{
    /* background-color: aquamarine; */
    display: flex;
    height: 60vh;
    bottom: 10rem;
    margin-bottom: 20px;
}
.Truth{
    background-color: #97E7E1;
    padding: 10px;
    height: 60vh;
    width: 40%;
    margin: auto;
    border-radius: 100% 100% 100% 10%;
    margin-bottom: 60px;
    border: 2px solid black;
    color: white;
    font-size: 5rem;
    align-content: center;
    padding-right: 40px;

}
.Dare{
    background-color: #7AA2E3;
    padding: 10px;
    height: 60vh;
    width: 40%;
    margin: auto;
    border-radius: 100% 100% 10% 100%;
    margin-bottom: 60px;
    border: 2px solid black;
    color: white;
    font-size: 5rem;
    align-content: center;
    padding-left: 40px;
}
.Truth:hover{
    cursor: pointer;
    background-color: #66fff5;
}
.Dare:hover{
    cursor: pointer;
    background-color: #5f9bfc;
}
h1:hover{
    cursor: pointer;
}
.para{
    align-items: start;
    font-size: 2rem;
}
.btnbot{
    margin-bottom: 40px;
    font-size: 2rem;
}
.themes{
    color: white;
    cursor: pointer;
}
@keyframes animate {
    0%{
        width: 50vh;
        height: 50vh;
    }
    100%{
        width: 60vh;
        height: 60vh;
    }
}

.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(40, 38, 38);
    width: 50vh;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 7rem;
    line-height: 75%;
    border: 4px solid #5f9bfc;
    border-radius: 25%;
    transform: translateY(-2rem);
    z-index: -10;
    animation: animate 2s linear infinite ; /* Removed redundant 'normal normal' */
}

.logo:hover{
    cursor: pointer;
}
.faze{
   transform: translateY(-50rem);
}

@media(max-width:860px){
    .game_screen{
        flex-direction: column;
    }
    .Truth{
        height: 90vh;
        width: 70%;
        margin-bottom: 15px;
    }
    .Dare{
        height: 90vh;
        width: 70%;
        margin-top: 15px;
    }
    .name{
        top:14rem;
    }

}

@media(max-width:450px){
    .game_screen{
        margin-bottom: 30px;
    }
    .Truth{
        height: 80vh;
        width: 70%;
        margin-bottom: 20px;
        font-size: 2.5rem;
        padding: 10px;
    }
    .Dare{
        height: 80vh;
        width: 70%;
        margin-top: 20px;
        font-size: 2.5rem;
        padding: 10px;
    }
    .name{
        top:15rem;
    }
    h1{
        margin-bottom: 10px;
        padding: 5px;
        font-size: 2rem;
    }
    .para{
        font-size: 1rem;
    }
    .name{
        width: 9rem;
        top:13.5rem;
        align-content: center;
        margin: auto;
        height: 3rem;
    }
    .form-control{
        width: 50%;
        display: inline-block;
        margin-bottom: 2.2rem;
        font-size: 1.2rem;
    }
    .content{
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
    }
}